@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url(../assets/fundoDash.jpg);
  box-shadow: #000000;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  overflow: hidden;
}
.container{
  display: flex;
  background-color: #000000d4;
  color: #fff;
  width:300px;
  height: 100px;
  border: 6px solid rgb(237, 139, 59);
  border-radius: 30px;
  margin-left: 800px;
  margin-top: 30px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container1{
  display: flex;
  background-color: #000000d4;
  color: #fff;
  width: 500px;
  height: 200px;
  border: 6px solid rgb(237, 139, 59);
  border-radius: 30px;
  margin-left: 100px;
  margin-top: 240px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container2{
  display: flex;
  background-color: #000000d4;
  color: #fff;
  width:600px;
  height: 200px;
  border: 6px solid rgb(237, 139, 59);
  border-radius: 30px;
  margin-left: 658px;
  margin-top: -213px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container3{
  display: flex;
  background-color: #000000d4;
  color: #fff;
  width:500px;
  height: 200px;
  border: 6px solid rgb(237, 139, 59);
  border-radius: 30px;
  margin-left: 1300px;
  margin-top: -213px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button{
  background-color: #e95e02;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 6px;
  height: 38px;
  padding: 0 32px;
  transition: filter 0.2s;
}

.button:hover{
  filter: brightness(1.5)
}