body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    margin: 0;
  padding: 0 5%;
  background-image: url(../assets/fundoDash.jpg);
  box-shadow: #000000;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  /* ou background-size: contain; dependendo da preferência */
  font-family: 'Inter', sans-serif;
  /* Aplicando a fonte Inter */
  overflow: hidden;
}
.button{
    background-color: #e95e02;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 6px;
    height: 68px;
    padding: 0 32px;
    transition: filter 0.2s;
  }
  
  .button:hover{
    filter: brightness(1.5)
  }
  .match-info {
    display: flex;
    justify-content: center; /* Centraliza os elementos filhos horizontalmente */
    flex-wrap: wrap; /* Permite que os elementos quebrem linha se necessário */
    gap: 20px; /* Espaçamento entre os elementos */
}

.match-info{
    background-color: #121214;
    height: 80px;
    width: 300px; /* Definindo um tamanho fixo para largura */
    max-width: 700px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.match-info {
    display: flex;
    justify-content: center; /* Centraliza os elementos filhos horizontalmente */
}
.team-logo {
    width: 100px;
    height: 100px;
    position: relative;
}
.container1 {
    background-color: #121214;
    height: 150px;
    width: 50%;
    max-width: 700px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container2 {
    background-color: #121214;
    height: 150px;
    width: 50%;
    max-width: 700px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adicionando margem na parte superior para separar da .container1 */
  }
  .container3 {
    background-color: #121214;
    height: 150px;
    width: 52%;
    max-width: 800px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adicionando margem na parte superior para separar da .container1 */
  }
  .container4 {
    background-color: #121214;
    height: 150px;
    width: 50%;
    max-width: 700px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
  }
  .container5 {
    background-color: #121214;
    height: 150px;
    width: 40%;
    max-width: 700px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
  }
  .container6 {
    background-color: #121214;
    height: 150px;
    width: 40%;
    max-width: 700px;
    border: 2px solid #e95;
    border-radius: 6px;
    padding: 36px;
    box-shadow: 0 0 2px 2px #e95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-left: 200px;
  }
  
  .paidospais{
    display: flex;
   
  }

  .containerpai2{
    display: flex;
   
  }
  .containerpai{
    display: flex;
   
  }

.overlay {
    display: block; /* Garante que o overlay seja exibido */
    position: absolute; /* Define a posição do overlay em relação ao pai */
    top: 22%; /* Ajusta a posição verticalmente */
    left: 26.5%; /* Ajusta a posição horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o overlay */
    color: white; /* Cor do texto do overlay */
    font-size: 30px; /* Tamanho da fonte do overlay */
    padding: 10px 20px; /* Espaçamento interno do overlay */
    border-radius: 6px; /* Arredonda as bordas do overlay */
    z-index: 1; /* Garante que o overlay fique acima do conteúdo */
}

.overlay::before,
.overlay::after {
    content: 'X'; /* Adiciona o texto 'X' aos pseudo-elementos */
    position: absolute; /* Define a posição absoluta para os pseudo-elementos */
    top: 10%; /* Posiciona os pseudo-elementos no centro verticalmente */
    left: 28%; /* Posiciona os pseudo-elementos no centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza os pseudo-elementos */
    color: white; /* Cor do texto do overlay */
    font-size: 30px; /* Tamanho da fonte do overlay */
    padding: 10px 20px; /* Espaçamento interno do overlay */
    border-radius: 6px; /* Arredonda as bordas do overlay */
    z-index: 1; /* Garante que o overlay fique acima do conteúdo */
}

.overlay::before {
    content: 'X'; /* Texto para o pseudo-elemento ::before */
    top: 500%; /* Posiciona os pseudo-elementos no centro verticalmente */
    left: 30%; /* Posiciona os pseudo-elementos no centro horizontalmente */
}

.overlay::after {
    top: 950%; /* Posiciona os pseudo-elementos no centro verticalmente */
    left: 24%; /* Posiciona os pseudo-elementos no centro horizontalmente */
}
.team {
    color: aliceblue;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    position: relative; /* Adicionando para garantir que a sobreposição funcione */
}
.time {
    color: aliceblue;
    font-size: 20px;
    margin-top: 20px;
}
.teams {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.team-logo {
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s;
}

.team-logo:hover {
  transform: scale(1.1);
}

canvas {
  margin-top: 20px;
}

#resetButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h1{
  margin-left: -30px;
  flex-direction: row;
}
.custom-alert{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-alert-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}