h1{
  color: #ffffff;
}
*{
padding: 0;
margin: 0%;
box-sizing: border-box;

}
button{
  cursor: pointer;
}
body{
  background-color: #121214;
  background-size: cover;
  background-image: url(../assets/fundoDash.jpg);
  color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #121214;
  width: 90%;
  max-width: 800px;
  border: 2px solid #e95;
  border-radius: 6px;
  padding: 36px;
  box-shadow: 0 0 2px 2px #e95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1{
  display: flex;
  background-color: #121214;
  width: 90%;
  max-width: 800px;
  border: 2px solid #e95;
  border-radius: 6px;
  padding: 36px;
  box-shadow: 0 0 2px 2px #e95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.question{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.answers-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.final-message{
  font-size: 20px;
  text-align: center;
}

.final-message span{
  display: block;
  margin-top: 8px;
}
.next-question{
  margin-top: 32px;
}


.button{
  background-color: #e95e02;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 6px;
  height: 68px;
  padding: 0 32px;
  transition: filter 0.2s;
}

.button:hover{
  filter: brightness(1.5)
}

.answers:disabled{
  cursor: not-allowed;
}


.hide{
  display: none;
}

.correct{
  background-color: #049b04;
}
.incorrect{
  background-color: #a10101;
}




