
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0 5%;
    background-image: url(../SiteVarzea/assets/fundo-varzea.png);
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: cover;
    /* ou background-size: contain; dependendo da preferência */
    font-family: 'Inter', sans-serif;
    /* Aplicando a fonte Inter */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    font-size: 20px;
}

#logo img {
    opacity: 0,5;
    margin-left: -280px;
    /* Espaçamento da esquerda */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #000000;
    /* Cor do texto do menu */
    margin: 0 49px;
    /* Espaçamento entre os itens do menu */
}

#social-medias img {
    margin-right: auto;
    /* Espaçamento da direita */
}

.containerPai{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
}

#titulo{
    /* font-family:"Speedee", arial, helvetica, sans-serif; */
    justify-content: center;
    font-size: 60px;
    align-items: center;
    color: aliceblue;
    color: aliceblue;
}

.texto-sn {  
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 0 20px 20px rgb(0, 0, 0);
    color: aliceblue;
}

/* css do menu */
.tooltip-container {
    --background: linear-gradient(45deg, #e95, #e95);
    position: relative;
    background: var(--background);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    padding: 0.7em 1.8em;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 0 4px 6px #e95e02(0, 0, 0, 0.1);
    color: #000000;
  }
  
  .tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: bottom;
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background: var(--background);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
  }
  
  .tooltip-container:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) scale(1);
  }
  .tooltip-container:hover {
    transform: scale(0.9);
  }
  